<!-- <% if current_user.role == 'teacher' %>
  <p>
    <%= link_to 'Delete', [post_id: @post.id, @tag.id],
                 method: :delete,
                 data: { confirm: 'Are you sure?'} %>
  </p>
<% end %> -->
