<h1> List of Resources </h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Category</th>
  </tr>

  <% @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= post.description%></td>
      <td><%= link_to 'Show', post_path(post) %></td>
      <% post.tags.each do |tag| %>
       <td><%= tag.name %></td>
       <% end %>

    </tr>
  <% end %>
</table>
