 body {
  background-color: #e6e6e6;
 }

.nav {
  float:right;
  margin-right:5%;
}
.nav a{
  color:red;
}
.nav #spotify{
  /*position:relative;*/
  float:left;
  margin-right: 10%;
}

.jumbotron {
  margin: 10% auto;
  width :70%;
  background-color: white;
}
