// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#wrapper {
  width: 75%;
  clear: both;
  border: 1px solid red;
  margin-right: 2rem;
  margin-top: 0;
}

.card {
  float: left;
  width: 20%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
  background-color: #19abb5;
  display: inline-block;
}

