// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.container-wrapper{
  margin: 0 auto;
  text-align: center;
}

.right-container{
  margin-right: auto;
  margin-top: 15%;
  display: inline-block;
  vertical-align: top;
  width:375px;
  border: solid white 8px;
  background-color:rgba(29, 30, 25, .8);
  height: 300px;
}

.login-form{
  width:80%;
  margin-top:20%;
  margin-left: auto;
  margin-right:auto;
  text-align: center;
}

.login-form h2{
  color:#4DC8ED;
}

.left-container {
  margin-left: auto;
  margin-top: 15%;
  vertical-align: top;
  display:inline-block;
  width: 375px;
  border: solid white 8px;
  background-color:rgba(29, 30, 25, .8);
  height: 300px;
}

.logo-landing img {
  width:100%;
  margin: auto;

}
.container{
  clear:both;
  width:100%;
  left:0;
}

#homepage-logo {
  height: 290px;
}